@import "tailwindcss";
@keyframes smooth-up-down {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-20px); 
  }
}

.animate-smooth-up-down {
  animation: smooth-up-down 2s ease-in-out infinite; 
}

@keyframes task2-animation {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-5px); 
  }
}

.animate-task2-animation {
  animation: task2-animation 1s ease-in-out infinite; 
}
html {
  scroll-behavior: smooth;
}
@keyframes blink2s {
  0%, 49.9% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.animate-blink2s-user1 {
  animation: blink2s 4s infinite ease-in-out;
  animation-delay: 0s;
}

.animate-blink2s-user6 {
  animation: blink2s 4s infinite ease-in-out;
  animation-delay: 2s; /* offset by 2 seconds */
}
